.gallery {
    padding: 70px 0;
    background-image: url('../img/gallery.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #01050f;
}

@import 'tabs';