.header {
    position: relative;
    background: linear-gradient(327.34deg, rgba(2, 4, 18, 0.97) 39.41%, rgba(2, 4, 18, 0) 75.32%);

    .container {
        position: relative;
        height: 100%;
    }
}