@import 'slider';

.reviews {
    padding: 70px 0;
    background-image: url('../img/reviews.png');
    background-position: bottom -8px right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #020412;
}