
@import "root";
@import 'reboot';
@import 'button';
@import 'widget';
@import 'substrate';
@import 'social';

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #020412;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 36px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #fffcfc99;
    border-bottom: 2px solid #fffcfc99;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}

.brand {
    img {
        width: auto;
        height: 30px;
    }
}

.header {
    background: linear-gradient(327.34deg, rgba(2, 4, 18, 0.97) 39.41%, rgba(2, 4, 18, 0) 75.32%);
}

.heading {
    .title {
        margin: 0;
        font-family: 'Open Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;

        color: #FFFFFF;
    }

    .description {
        margin: 0;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;

        margin-top: 25px;
        padding-bottom: 30px;

        color: #FFFFFF;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100px;
            border: 3px solid #e9aa09;
        }
    }
}

@import 'header';
@import 'navbar';
@import 'nav';
@import 'promo';
@import 'advantages';
@import 'reviews';
@import 'feedback';
@import 'contacts';
@import 'gallery';
@import 'footer';

#map {
    width: 100%; padding: 0; margin: 0;
}